params {
    publish_dir_mode    = "copy"
    outdir              = "/mnt/workflow/pubdir"
    fastp_docker        = "<account>.dkr.ecr.<region>.amazonaws.com/fastp:<version>"
    multiqc_docker      = "<account>.dkr.ecr.<region>.amazonaws.com/multiqc:<version>"
    cellranger_docker   = "<account>.dkr.ecr.<region>.amazonaws.com/cellranger:<version>"
    samtools_docker     = "<account>.dkr.ecr.<region>.amazonaws.com/samtools:<version>"
    fastq_r1            = null
    fastq_r2            = null
    sample_name         = null
    transcriptome       = null // Path to s3://.../refdata-gex-GRCh38-2024-A
    chemistry           = null // auto-detect
    create_bam          = false
    expect_cells        = 5000
}

manifest {
    nextflowVersion = '!>=22.04.0'
}

process {

    withLabel: 'fastp' {
        container = params.fastp_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'multiqc' {
        container = params.multiqc_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/QC/" },
                pattern: "*"
            ],
        ]
        memory = 16.GB
        cpus = 8
    }

    withLabel: 'cellranger' {
        container = params.cellranger_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/CELLRANGER/" },
                pattern: "*.{html,csv,h5,cloupe,yml}",
                saveAs: { filename -> filename }
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/CELLRANGER/analysis" },
                pattern: "analysis/**"
            ]
        ]
        memory = 128.GB
        cpus = 32
    }

    withLabel: 'samtools_cram' {
        container = params.samtools_docker
        publishDir  = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/CELLRANGER/" },
                pattern: "*"
            ],
        ]
        memory = 32.GB
        cpus = 16
    }
}